<!-- Footer Component -->
 <footer class="bgCommon p-3 d-flex justify-content-center mt-3">
    <ul class="p-0 m-0 d-flex justify-content-between column-gap-4">
        <li class="list-unstyled"><a appExternalLink target="_blank" href="https://www.facebook.com"><i class=" fs-4 text-white fa-brands fa-facebook"></i></a></li>
        <li class="list-unstyled"><a appExternalLink target="_blank" href="https://www.instagram.com"><i class=" fs-4 text-white fa-brands fa-instagram"></i></a></li>
        <li class="list-unstyled"><a appExternalLink target="_blank" href="https://www.x.com"><i class=" fs-4 text-white fa-brands fa-x-twitter"></i></a></li>
        <li class="list-unstyled"><a appExternalLink target="_blank" href="https://www.youtube.com"><i class=" fs-4 text-white fa-brands fa-youtube"></i></a></li>
    </ul>
 </footer>